.nav {
  display: flex;
  align-items: center;

  min-height: 80px;
  padding: 0 40px;
  background-color: #34495e;
}

.link {
  display: inline-block;
  padding: 12px;
  font-weight: 500;
  color: black;
  font-size: 18px;
}

.activeLink {
  composes: link;
  color: #7f7c94;
}
